* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  font-family: Arial,sans-serif;
}

#__next {
  overflow: hidden;
  /* min-width: 1024px; */
}

/* 네이버 로그인 버튼 커스텀 글로벌 CSS */
#naverIdLogin{
  display: none;
}